<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">

    <title>Invest Queen</title>

    <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.5"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="./style.css"/>
</head>

<body>


<div id="app">

    <header>
        <div class="columns mx-2 my-3">
            <div class="column is-one-third-desktop">
                <input class="input" type="text" placeholder="Search" v-model="search">
            </div>

            <div class="column is-one-third-desktop">
                <!--                open/close collapse on button click-->
                <button class="button"
                        @click="filterModal = !filterModal">
                    <span>{{filterModal?'Hide Filter':'Filter'}}</span>
                </button>
            </div>
        </div>
    </header>
    <!--    add is-active class when button click to show collapse menu-->
    <div class="collapseItem has-background-light" :class="{'is-active':filterModal}">
        <div class="columns mx-2 ">
            <div class="column is-one-third-desktop">
                <p><strong>Filter by Region:</strong></p>
                <div class="scrollSection">
                    <div v-for="item in filters.region">
                        <label>
                            <input type="checkbox" v-model="filterChecked.region" :value="item"/>
                            {{item}}
                        </label>
                    </div>
                </div>

            </div>
            <div class="column is-one-third-desktop">
                <p><strong>Filter by Interest:</strong></p>
                <div class="scrollSection">
                    <div v-for="item in filters.interest">
                        <label>
                            <input type="checkbox" v-model="filterChecked.interest" :value="item"/>
                            {{item}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="column is-one-third-desktop">
                <p><strong>Filter by Stage:</strong></p>
                <div class="scrollSection">
                    <div v-for="item in filters.stage">
                        <label>
                            <input type="checkbox" v-model="filterChecked.stage" :value="item"/>
                            {{item}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="app">

            <div v-for="vcfirm in filteredVCfirms" class="firms">

                <figure>
                    <img v-bind:src="vcfirm.gsx$logo.$t">
                </figure>

                <h1 class="is-size-4">{{ vcfirm.gsx$vcfirm.$t }}</h1>

                <p>
                    <b>{{ vcfirm.gsx$region.$t }}</b>
                </p>

                <p>
                    {{ vcfirm.gsx$interest.$t }}
                </p>

                <p>
                    {{ vcfirm.gsx$stage.$t }}
                </p>

                <p>Visit <a v-bind:href="vcfirm.gsx$website.$t" target="_blank">
                    {{ vcfirm.gsx$vcfirm.$t }}</a> website to learn more.
                </p>

                <br>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    const url =
        "https://spreadsheets.google.com/feeds/list/1-xGr-5yZsRobgk5WagmgfdqWBQWI4T57omR87q81DxY/2/public/values?alt=json";

    const {createApp, ref} = Vue;
    const app = createApp({
            data() {
                return {
                    vcfirms: null,
                    search: null,
                    filteredVCfirm: [],
                    filterModal: false,
                    filters: {
                        region: [],
                        interest: [],
                        stage: []
                    },
                    filterChecked: {
                        region: [],
                        interest: [],
                        stage: []
                    }
                };
            },
            mounted() {
                axios
                    .get(url)
                    .then((response) => {
                        this.vcfirms = response.data.feed.entry;
                        if (this.vcfirms && this.vcfirms.length > 0) {
                            this.assignFilter()
                        }
                    })
                    .catch((error) => {
                        console.log("error:", error);
                    });

            },
            computed: {
                // computed means it will look the search and the other parameter.
                // if any params change filtered films will calculate
                filteredVCfirms() {
                    //if nothing in search send all vcfirms to filter
                    if (!this.search) {
                        return this.doFilter(this.vcfirms)
                    }
                    //else for each firm find the word in object with lowercase word
                    var filtered = [];
                    let query = this.search.toLowerCase();
                    this.vcfirms.forEach(function (vcfirm) {
                        var vcfirms = vcfirm.gsx$vcfirm.$t.toLowerCase();
                        var stage = vcfirm.gsx$stage.$t.toLowerCase();
                        var interest = vcfirm.gsx$interest.$t.toLowerCase();
                        var region = vcfirm.gsx$region.$t.toLowerCase();
                        // if any vcfirms , stage or interest have search keyword store it
                        if (
                            (vcfirms.search(query) >= 0) ||
                            (stage.search(query) >= 0) ||
                            (interest.search(query) >= 0) ||
                            (region.search(query) >= 0)
                        ) {
                            filtered.push(vcfirm);
                        }
                    });
                    return this.doFilter(filtered);
                }
            },
            methods: {
                doFilter(items) {
                    // after search return items check if any of checkbox is checked or not
                    // if not checked return all
                    if (this.filterChecked.region.length > 0 || this.filterChecked.stage.length > 0 || this.filterChecked.interest.length > 0) {
                        // if any checkbox in region is check filter firms with the array
                        if (this.filterChecked.region.length > 0) {
                            items = items.filter(vcfirm => {
                                var region = vcfirm.gsx$region.$t.toLowerCase();
                                //Object.values make object value to in array
                                //if this array have current vcfirm's region return true
                                return Object.values(this.filterChecked.region).filter(x => region.includes(x)).length > 0;
                            })
                        }
                        if (this.filterChecked.stage.length > 0) {
                            items = items.filter(vcfirm => {
                                var stage = vcfirm.gsx$stage.$t.toLowerCase();
                                return Object.values(this.filterChecked.stage).filter(x => stage.includes(x)).length > 0;
                            })
                        }
                        if (this.filterChecked.interest.length > 0) {
                            items = items.filter(vcfirm => {
                                var interest = vcfirm.gsx$interest.$t.toLowerCase();
                                return Object.values(this.filterChecked.interest).filter(x => interest.includes(x)).length > 0;
                            })
                        }
                        return items
                    } else {
                        return items
                    }
                },
                //initially make the filter array
                assignFilter() {
                    this.vcfirms.forEach(vcfirm => {
                        //tolowecase to make all small letter
                        var region = vcfirm.gsx$region.$t.toLowerCase();
                        var interest = vcfirm.gsx$interest.$t.toLowerCase();
                        var stage = vcfirm.gsx$stage.$t.toLowerCase();
                        if (!this.filters.region.includes(region) && region) {
                            //make string to array by separate by comma  then remove space in first of every item then concat with main array
                            //like "usa, canada" => ["usa"," canada"] => ["usa","canada"] then join with region main array
                            this.filters.region=[...this.filters.region,...region.split(',').map(item=>item.trim())]
                        }
                        if (!this.filters.stage.includes(stage) && stage) {
                            this.filters.stage=[...this.filters.stage,...stage.split(',').map(item=>item.trim())]
                        }
                        if (!this.filters.interest.includes(interest) && interest) {
                            this.filters.interest=[...this.filters.interest,...interest.split(',').map(item=>item.trim())]
                        }
                    });
                    //set help to remove duplicate item
                    this.filters.region=[...new Set(this.filters.region)].sort();
                    this.filters.stage=[...new Set(this.filters.stage)].sort();
                    this.filters.interest=[...new Set(this.filters.interest)].sort();
                }
            }


        })
    ;
    app.mount("#app");

</script>
</html>
